html, body{
    padding: 0;
    margin: 0;
    border: 0;
    
    font-family: sans-serif;
    font-size: 10px;

    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas{
    position:absolute;
    top: 35px;
    width: 100%;
    height: 100%;
}

#controls{
    position: fixed;
    top: 5px;
    left: 10px;
	background-color: white;
	z-index: 2;
}

#share{
    position: fixed;
    top: 7px;
    right: 5px;
    z-index: 1;
}

#share a{
    color: #cdff48;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    text-shadow: black 0px 2px 7px;
}

#share a:hover{
    color: #ffca57;
}

div.set{
    float: left;
    padding-right: 10px;
}

#toolstoggle{
    padding-top: 4px;
}

#seed{
    float:left;
    color: black;
    font-size: 12px;
    width: 36px;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 1px;
}

label[for="seed"]{
	float:left;
    font-weight:normal;
    font-size: 10px;
    padding-top: 2px;
    padding-right:5px;
}

div.slider{
 	float:left;
    width: 200px;
    padding-top: 6px;
    padding-left: 2px;
}

#instructions{
    font-weight: bold;
    color: white;
    font-size: 13px;
    position: fixed;
    bottom: 5px;
    left: 0px;
    text-align: center;
    text-shadow: black 0px 2px 5px;
    width: 100%;
}

#error{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 200px;
    margin-left: -250px;
    margin-top: -100px;
    border: 1px solid black;
    background-color: #eee;
}

h1{
    text-align: center;
    margin: 10px;
    font-size: 16px;
}

pre{
    font-size: 12px;
    padding: 10px;
    overflow: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

#bugs{
    padding: 10px;
    font-size: 12px;
}

